requests~=2.25.1
django~=3.1.7
pytest~=6.2.2
pytest-django
djangorestframework~=3.12.4
djangorestframework-simplejwt
django-filter~=2.4.0
py~=1.10.0
colorama~=0.4.4
cryptography~=2.9.2
pip~=21.0.1
attrs~=20.3.0
pytz~=2021.1
toml~=0.10.2
sqlparse~=0.4.1
asgiref~=3.3.1
wcwidth~=0.2.5
pluggy~=0.13.1
iniconfig~=1.1.1
atomicwrites~=1.4.0
certifi~=2020.12.5
chardet~=4.0.0
urllib3~=1.26.4
six~=1.15.0
idna~=2.10
pyparsing~=2.4.7
setuptools~=54.1.2
PyJWT~=2.1.0